@import url('https://fonts.googleapis.com/css2?family=Honk&family=Playwrite+CU:wght@100..400&family=Playwrite+HU:wght@100..400&family=Playwrite+PE:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+IN:wght@100..400&display=swap');

.navbar-logo{
     /* font-family: 'Honk', cursive;
    font-weight: 400; */
    font-family: "Playwrite IN", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    
}

.navbar-links{
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}